h1 {
  font-family: 'Yeseva One', serif;
  text-align: center;
}

nav {
  display: flex;;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  font-family: 'Yeseva One', serif;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0.4em 0.6em;
  width: 12em;
  text-align: center;
}

nav a:hover {
  color: #d97757;
  text-decoration: underline;
}

body {
  background-color: #1a1a1a;
  color: #f0ebe3;
}